.box{
    margin-left: 400px;
    border: 3px solid black;
    width:40%;
    padding:10px;
    background-color: aqua;
    border-color: blue;
}
#form{
    margin-left:27%;
    padding:20px;
    font-weight: bold;
    font-size: 20px;
}
h1,h2{
    font-size: 24px;
    font-style: oblique;
    text-align: center;
    columns: blue;
}
table,th{
    background-color: aquamarine;
}
table,td{
    margin-left: 400px;

    background-color:rgb(247, 106, 153);
    padding: 16px;
    width: 10px;
}

body{
    background-color: bisque;
    border: 2px solid red;
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:noscrol;
}
#row2{
    
    color:blue;
    
}
#row4{
    color:darkgreen;
}